@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*===== GERAL ===============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "DM Sans", sans-serif;
}

    /*============================= VARIÁVEIS 01===============================================*/

:root {
  --hue: 240;

  /* CORES DE FUNDO E NEUTRAS */
  --bg-color: hsl(var(--hue), 4%, 5%); /* Fundo Principal Escuro */
  --card-bg-color: hsl(var(--hue), 4%, 12%); /* Fundo de Cards Escuro */
  --border-color: hsla(var(--hue), 5%, 100%, 0.08); /* Borda/Divisor Sutil */

  /* SECTIONS */
  --section1: #f49f0a;
  --section2: #262626;

  --black: #000;
  --white: #ffffff;

  /* CORES DE DESTAQUE - Tetrádicas e de Status */
  --action-color: #5ebeed; /* Ciano/Azul (Ação Principal, Links) */
  --success-color: hsl(110, 65%, 55%); /* Verde Limão (Sucesso, Concluído) */
  --warning-color: #f5b83d; /* Amarelo/Laranja (Alerta, Destaque Forte) */
  --info-color: #25ced1; /*Ciano forte*/
  --danger-color: hsl(340, 75%, 60%); /* Vermelho (Erro, Perigo) */
  --nav-social: #7768ae;

  /* CORES DE TEXTO (Claro) */
  --headline-color: hsl(var(--hue), 10%, 95%); /* Título (Quase Branco) */
  --paragraph-color: hsl(
    var(--hue),
    5%,
    70%
  ); /* Texto de Parágrafo (Cinza Claro) */
  --faded-text-color: hsl(
    var(--hue),
    3%,
    45%
  ); /* Texto de Rodapé/Informativo */

  /* EXTRAS */
  --headline: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.658);

  font-size: 62.5%;

  --nav-height: 7.2rem;
}

/*====================================================*/

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;

  background-color: var(--bg-color);
}

/*============== VARIÁVEIS MODO CLARO ========================================*/

body.light-mode {
  /* Fundo de Cards e Principal Invertido */
  --bg-color: rgb(165, 165, 165); /* Fundo Principal Claro */
  --card-bg-color: rgb(237, 237, 237); /* Fundo de Cards Claro */
  --border-color: hsla(var(--hue), 5%, 20%, 0.1); /* Borda mais visível */

  /* Cores de Destaque permanecem fortes (boa prática) */
  --primary-color: hsl(
    var(--hue),
    70%,
    45%
  ); /* Azul de Ação (levemente mais escuro) */
  --secondary-color: hsl(var(--hue), 50%, 65%); /* Azul de Suporte Claro */
  --cinza: rgb(192, 192, 192);

  /* CORES DE DESTAQUE - Tetrádicas e de Status */
  --action-color: hsl(200, 80%, 65%); /* Ciano/Azul (Ação Principal, Links) */
  --success-color: hsl(110, 65%, 55%); /* Verde Limão (Sucesso, Concluído) */
  --warning-color: hsl(
    40,
    90%,
    60%
  ); /* Amarelo/Laranja (Alerta, Destaque Forte) */
  --danger-color: hsl(340, 75%, 60%); /* Vermelho (Erro, Perigo) */
  --nav-social-c: rgb(0, 255, 0);

  /* Cores de Texto Invertidas para Escuro */
  --headline-color: hsl(var(--hue), 10%, 20%); /* Título Escuro */
  --paragraph-color: hsl(var(--hue), 5%, 40%); /* Texto de Parágrafo Escuro */
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--paragraph);
}

.wrapper {
  width: min(50rem, 100%);

  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  color: var(--paragraph);
}

section {
  padding-block: 10rem;
  padding-inline: 2rem;
}

section h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--headline-color);
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--warning-color);
}

body.light-mode section header h2 {
  color: var(--black);
}

section h3 {
  color: var(--headline);
}

section p,
section span {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;

  color: var(--paragraph);
}

.button {
  background: none;
  border: 0.2rem solid var(--warning-color);
  border-radius: 10px;

  margin-bottom: 6rem;
  padding: 1.4rem 3rem;

  width: fit-content;

  color: var(--headline);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  position: relative;

  transition: 400ms;
}

body.light-mode .button {
  background: none;
  border: 0.2rem solid var(--warning-color);
  border-radius: 10px;
  margin-bottom: 6rem;
  padding: 1.4rem 3rem;
  width: fit-content;
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  position: relative;
  transition: 400ms;
}

body.light-mode .button,
body.light-mode #home h4 {
  filter: brightness(0.8);
}

.button:hover {
  color: #fff;
  background-color: var(--warning-color);
  border: 0.2rem solid var(--warning-color);
  cursor: pointer;
}

body.light-mode .button:hover {
  filter: none;
}

/* SOCIAL LINKS */

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.social-links li {
  height: 3rem;
}

.social-links svg {
  margin-top: 0.3rem;
  transition: 300ms;
}

.social-links li:nth-child(2) svg {
  width: 2.7rem;
  height: 2.7rem;
}

.social-links svg:hover {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

body .social-links li svg path {
  transition: 200ms;
}

body nav#navigation .social-links li:nth-child(1) svg:hover path,
body .social-links li:nth-child(1) svg:hover path {
  stroke: #ff377a;
}

body .social-links li:nth-child(2) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(2) svg:hover path:nth-child(2) {
  fill: #fff;
}

body.light-mode .social-links li:nth-child(2) svg:hover path:nth-child(2),
body.light-mode
  nav#navigation
  .social-links
  li:nth-child(2)
  svg:hover
  path:nth-child(2) {
  fill: #000;
}

body .social-links li:nth-child(3) svg:hover path:nth-child(2),
body nav#navigation .social-links li:nth-child(3) svg:hover path:nth-child(2) {
  fill: #0a66c2;
}

/* == == */

#projects .card circle {
  fill: var(--secundary-color);
}

#backToTopButton circle {
  fill: var(--warning-color);
}

#contact li path,
#navigation button.open-menu path[stroke*="#00856F"] {
  stroke: var(--warning-color);
}

#navigation.scroll button.open-menu path[stroke*="#00856F"] {
  stroke: var(--info-color);
}

/*===== NAVIGATION ===================================*/

nav {
  width: 100vw;
  height: var(--nav-height);

  display: flex;

  position: fixed;
  top: 0;
  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

nav.scroll {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

/* LOGO */

a.logoclose {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 3rem;
}

nav#navigation {
  color: var(--warning-color);
}

nav#navigation.scroll {
  color: var(--warning-color);
}

body.light-mode nav#navigation a.logoclose,
body.light-mode footer a.logoclose {
  font-weight: bold;
  color: var(--black);
}

body.menu-expanded nav#navigation a.logoclose {
  opacity: 1;
}

body.light-mode nav#navigation a.logoclose {
  filter: brightness(0.8);
}

body.light-mode footer a.logoclose,
body.light-mode nav#navigation.scroll a.logoclose {
  color: var(--black);
}

/* == == */

nav#navigation .menu ul li a {
  color: var(--white);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

nav .logoclose {
  color: var(--white);
}
